<a href="https://colab.research.google.com/github/Cerino-rigo/EC3002C.602-2023/blob/main/Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importar librerías necesarias para el correcto funcionamiento**

**Crea una matriz de 10x10 con valores aleatorios y encuentra los valores mínimo y máximo**

**Crea un vector aleatorio de tamaño 30 y encuentra el valor medio**

**Crea un DataFrame a partir de la siguiente lista:**

In [ ]:
datos = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio', 'Sara', 'Pedro', 'Laura', 'Javier', 'Ana', 'Carlos', 'Elena', 'Pablo', 'Isabel', 'Juan', 'Natalia', 'Roberto', 'Lucía', 'Miguel', 'Alicia', 'Francisco'],
    'edad': [18, 22, 20, 21, 25, 30, 28, 23, 29, 26, 24, 27, 32, 31, 35, 33, 40, 38, 36, 39],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía', 'Psicología', 'Ingeniería', 'Derecho', 'Marketing', 'Biología', 'Informática', 'Periodismo', 'Física', 'Historia', 'Matemáticas', 'Ciencias Políticas', 'Economía', 'Psicología', 'Ingeniería', 'Derecho', 'Marketing'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com', 'sara@gmail.com', 'pedro@yahoo.es', 'laura@gmail.com', 'javier@gmail.com', 'ana@yahoo.es', 'carlos@gmail.com', 'elena@gmail.com', 'pablo@yahoo.es', 'isabel@gmail.com', 'juan@gmail.com', 'natalia@yahoo.es', 'roberto@gmail.com', 'lucia@gmail.com', 'miguel@yahoo.es', 'alicia@gmail.com', 'francisco@gmail.com'],
    'ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Valencia', 'Zaragoza', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Las Palmas', 'Zaragoza', 'Vigo', 'Gijón', 'Valladolid', 'La Coruña', 'Granada', 'Alicante', 'Bilbao', 'Córdoba', 'Vitoria', 'Santa Cruz de Tenerife'],
    'telefono': ['123-456-789', '987-654-321', '555-123-456', '789-321-654', '111-222-333', '444-555-666', '777-888-999', '222-333-444', '555-666-777', '888-999-000', '111-222-333', '444-555-666', '777-888-999', '222-333-444', '555-666-777', '888-999-000', '111-222-333', '444-555-666', '777-888-999', '222-333-444'],
    'genero': ['Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino', 'Femenino', 'Masculino'],
    'hobbies': ['Leer', 'Deporte', 'Arte', 'Viajar', 'Música', 'Cine', 'Cocina', 'Fotografía', 'Juegos de mesa', 'Senderismo', 'Teatro', 'Bailar', 'Ajedrez', 'Natación', 'Bicicleta', 'Videojuegos', 'Pintura', 'Escalada', 'Jardinería', 'Viajar'],
    'nacionalidad': ['Española', 'Mexicana', 'Española', 'Colombiana', 'Chilena', 'Peruana', 'Argentina', 'Uruguaya', 'Venezolana', 'Ecuatoriana', 'Boliviana', 'Paraguaya', 'Costarricense', 'Guatemalteca', 'Panameña', 'Cubana', 'Dominicana', 'Puertorriqueña', 'Nicaragüense', 'Hondureña'],
    'idioma_principal': ['Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español', 'Español'],
    'puntuacion_examen': [85, 92, 78, 88, 95, 86, 90, 78, 88, 92, 80, 94, 87, 89, 96, 82, 91, 93, 84, 97],
    'estado_civil': ['Soltera', 'Soltero', 'Soltera', 'Soltero', 'Casada', 'Soltero', 'Casada', 'Soltero', 'Casada', 'Divorciado', 'Soltera', 'Viudo', 'Casada', 'Soltero', 'Casada', 'Soltero', 'Casada', 'Soltero', 'Casada', 'Soltero'],
    'nivel_educativo': ['Licenciatura', 'Licenciatura', 'Licenciatura', 'Licenciatura', 'Maestría', 'Licenciatura', 'Doctorado', 'Maestría', 'Licenciatura', 'Maestría', 'Licenciatura', 'Doctorado', 'Licenciatura', 'Maestría', 'Licenciatura', 'Doctorado', 'Licenciatura', 'Maestría', 'Doctorado', 'Licenciatura'],
    'altura': [180.43, 184.36, 176.32, 159.25, 170.33, 170.99, 168.37, 150.99, 158.74, 166.55, 170.07, 161.40, 162.12, 175.75, 150.72, 177.87, 187.94, 161.97, 182.92, 183.31],
    'peso': [63.33, 82.26, 56.45, 58.06, 90.22, 84.68, 67.17, 76.52, 97.55, 50.76, 92.71, 98.16, 50.91 , 54.43, 96.54, 62.49, 98.84, 91.99, 75.02, 78.58]
}

**Despliega las 7 primeras filas del DataFrame**

**Obtener la información del DataFrame**

**Desplegar un análisis estadístico descriptivo de las variables numéricas**

**Obtener las dimensiones del dataframe, y con esta función hacer un ```print(f"")```indicando la cantidad de filas y columnas...**

Pista: usar ```shape```

In [ ]:
print(f"El dataframe tiene {insertar el dato} filas y {insertar el dato} columnas...")

**Realiza un filtro que separe a los alumnos con calificación mayor a 90 y guarda los datos en un nuevo DataFrame llamado "Prom_Altos"**

**Sobre el DataFrame original, crea una nueva columna, que divida la puntuación del examen sobre 10, el nombre de esta columna será ```Calificación```, y despliega el DataFrame**

**Una vez creada la nueva columna, elimina la columna ```puntuacion_examen```, y despliega el DataFrame**