<a href="https://colab.research.google.com/github/Cerino-rigo/EC3002C.602-2023/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

Guía de usuario:
https://pandas.pydata.org/docs/user_guide/index.html

In [ ]:
import pandas as pd
import numpy as np
Z = np.arange(9).reshape(3, 3)
print(Z)

In [ ]:
materias = ['Ciencia de datos', 'Humanidades', 'Matemáticas', 'Química', 'Físicia', 'Historia', 'Economía', 'Programación', 'Inglés', 'Robótica']

## Series

Una serie es una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (cadenas de caracteres, enteros, decimales,etc.) pero al definir la serie, se requiere que el tipo de datos sea el mismo.

**Generar una serie que contenga la lista anterior**

In [ ]:
materias_s = pd.Series(materias)
materias_s

**Inspeccionar los primeros 5 elementos con el método .head()**

In [ ]:
materias_s.head()

In [ ]:
materias_s.head(4)

**Ordenar los valores de la serie**

In [ ]:
materias_s.sort_values()

## Estadística con series

In [ ]:
calificaciones = pd.Series([8.8, 9.2, 7.5, 10, 6.9, 9.4, 7.7,  9.9, 6, 8.3])

**Obtener el valor máximo de la serie "calificaciones"**

In [ ]:
calificaciones.max()

**Obtener el valor mínimo de la serie "calificaciones"**

In [ ]:
calificaciones.min()

**Obtener el valor promedio de la serie "calificaciones"**

In [ ]:
calificaciones.mean()

In [ ]:
calificaciones.sum()

**Estos métodos no alteran la serie original**

In [ ]:
calificaciones

**Descripción general de los valores en la serie "calificaciones"**

In [ ]:
calificaciones.describe()

In [ ]:
calificaciones.count()

**Obtener las calificaciones mayores a 8.3**

In [ ]:
calificaciones > 8.3

In [ ]:
calificaciones[calificaciones > 8.3]

In [ ]:
calificaciones

## Dataframes

In [ ]:
datos = {'Nombre':['Andrea', 'Roxana', 'David', 'Jorge', 'Adrian'],
        'Edad':[27, 34, 42, 29, 37],
        'Altura':[1.67, 1.75, 1.65, 1.72, 1.69],
        'Peso':[66, 68, 75, 78, 70],
        'Dirección':['Los fuertes', '5 de mayo', 'Palmas', 'Margaritas', 'San Manuel'],
        'Título':['Ing', 'MC', 'Lic', 'Phd', 'Ing']}

**Crear un DataFrame que contenga los datos presentados**

In [ ]:
profesores = pd.DataFrame(datos)

In [ ]:
profesores

**Obtener una descripción general de las columnas numéricas del DataFrame**

In [ ]:
profesores.describe()

**Obtener los datos de los profesores mayores a 30 años**

In [ ]:
profesores.Edad

In [ ]:
profesores.Edad > 30

In [ ]:
profesores[profesores.Edad >30]

In [ ]:
profesores

## Importar datos de un archivo externo en un DataFrame llamado "concentracion"

In [ ]:
concentracion = pd.read_excel('/content/drive/MyDrive/Machine Learning/concentracion.xlsx', index_col="Id")

In [ ]:
concentracion

In [ ]:
concentracion.head()

**Obtener los datos de los amigos con una edad menor a 21 años**

In [ ]:
concentracion.Edad < 21

In [ ]:
concentracion[concentracion.Edad < 21]

In [ ]:
concentracion

In [ ]:
concentracion_menores_21 = concentracion[concentracion.Edad < 21]

In [ ]:
concentracion_menores_21

**Importar datos en el archivo "universidad.xlsx" en un DataFrame llamado "universidad"**

In [ ]:
universidad = pd.read_excel('/content/drive/MyDrive/Machine Learning/universidad.xlsx')

In [ ]:
universidad.head()

In [ ]:
concentracion.head()

Utilizar la función "merge" para unir las dos tablas anteriores con base en:


*   La columna "Id" en la tabla "concentracion"
*   La columna "Id Persona" en la tabla "universidad"

Llamar al DataFrame resultante "alumnos"

In [ ]:
alumnos = concentracion.merge(universidad, left_on = "Id", right_on ="Id Persona")

In [ ]:
alumnos.head()

**Cambiar las letras a mayúsculas en la columna "Num Control" del nuevo DataFrame "alumnos"**

In [ ]:
alumnos.loc[:,"Num Control"]

In [ ]:
alumnos.loc[:,"Num Control"].str.upper()

El atributo Pandas DataFrame.loc accede a un grupo de filas y columnas por etiqueta(s)

Método str.upper() cambia caracteres a mayúsculas

**Cambiar la primera letra de cada palabra a mayúsculas en la columna "Carrera" del nuevo DataFrame "alumnos"**

In [ ]:
alumnos.loc[:,"Carrera"].str.title()

Método str.title() cambia los primeros caracteres de cada palabra a mayúsculas

In [ ]:
alumnos.loc[:,"Carrera"] = alumnos.loc[:,"Carrera"].str.title()

In [ ]:
alumnos.head()

**Agregar una columa llamada "Año" que contenga el año en que el estudiante se inscibió a la carrera del DataFrame "alumnos"**

In [ ]:
alumnos["Año"] = alumnos.Inscripción.dt.year

In [ ]:
alumnos.head()

Series.dt.year
Devuelve el año de la estructura "datetime".

In [ ]:
alumnos["Año/Mes"] = alumnos.Inscripción.dt.strftime("%Y/%m")

**Series.dt.strftime(args)**

Convertir a índice utilizando el formato de fecha especificado.

Cadena de formato de fecha (por ejemplo, "%Y-%m-%d").

In [ ]:
alumnos.head()

**Crear un DataFrame llamado "licenciados" que contenga los datos de los estudiantes inscritos a una licenciatura**

In [ ]:
alumnos.loc[:,"Carrera"].str.contains("Lic")

**Series.str.contains(pat)**

Comprueba si un patrón "***pat***" o regex está contenido en una cadena de una Serie o Índice.

In [ ]:
licenciados = alumnos.loc[:,"Carrera"].str.contains("Lic")

In [ ]:
licenciados.head()

In [ ]:
licenciados = alumnos[alumnos.loc[:,"Carrera"].str.contains("Lic")]

In [ ]:
licenciados.head()

In [ ]:
licenciados

##Analizar DataFrames

Contar el número de licenciados inscritos pr cada año utilizando "groupby"

In [ ]:
lic_por_año = licenciados.groupby(by="Año").size()

In [ ]:
lic_por_año

**DataFrame.groupby(by=mapping, function, label, pd.Grouper or list of such)**

Agrupar DataFrame utilizando un mapeador o por una serie de columnas.

Una operación groupby implica alguna combinación de dividir el objeto, aplicar una función y combinar los resultados. Puede utilizarse para agrupar grandes cantidades de datos y calcular operaciones sobre estos grupos.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
lic_por_año.plot(kind="bar")
plt.title("Inscripción de Licenciados por Año")
plt.show()

**Contar la cantidad de alumnos inscritos en cada año, separado por licenciatura, utilizando "pivot_table"**

In [ ]:
ingresos = licenciados.pivot_table(index="Año", columns="Carrera", values="Edad", aggfunc="count",fill_value=0)

In [ ]:
ingresos

**pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None)**

Crear una tabla pivotante estilo hoja de cálculo como un DataFrame.

Los niveles de la tabla pivotante se almacenarán en objetos MultiIndex (índices jerárquicos) sobre el índice y las columnas del DataFrame resultante.

In [ ]:
ingresos.plot()
plt.title("Ingreso en cada carrera por Año")
plt.show()